[submodule "caffe-fast-rcnn"]
	path = caffe-fast-rcnn
	url = https://github.com/rbgirshick/caffe-fast-rcnn.git
	branch = fast-rcnn
[submodule "caffe-wsl"]
	path = caffe-wsl
	url = https://github.com/shenyunhang/caffe-wsl.git
	branch = wsl
[submodule "caffe-fwsl"]
	path = caffe-fwsl
	url = https://github.com/shenyunhang/caffe-fwsl.git
